.party-section {

    border-style: solid;
    border-color: black;
    border-width: 3px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    padding-left: 50px;
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 20px;

}

.party {
    height: 100%;
    width: 100%;
}