.weefee-section {

    border-style: solid;
    border-color: black;
    border-width: 3px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    padding-left: 50px;
    padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 20px;
    height: 950px;

}

#boroughMapImg2 {
    height: 300px;
    width: 300px;
}

.weefee {
    height: 100%;
    width: 100%;
}

.reveal-btn2 {
    margin-top: 10px;
    margin-bottom: 20px;
}

.left-circle-title {
    padding-left: 25px;
    padding-top: 20px;
    margin-left: 45px;
}

.right-circle-title2 {
    padding-top: 20px;
    margin-left: 40px;
}

.borough-title {
    padding-top: 20px;
    padding-left: 15px;
}

.story-to-tell {
    padding-top: 20px;
}